
table.table-bordered{
    border:1px solid darkgray;
    margin-top:20px;
}
table.table-bordered > thead > tr > th{
    border:1px solid darkgray;
}
table.table-bordered > tbody > tr > td{
    border:1px solid darkgray;
}